<html>
<head>
	<title>Elina's Playground</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="cleartype" content="on">
    <meta name="MobileOptimized" content="320">
    <meta name="HandheldFriendly" content="True">
    <meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/flat-ui.min.css">
	<link rel="stylesheet" href="static/css/flat-ui.css">
	<link rel="stylesheet" href="static/css/demo.css">
	<link rel="stylesheet" href="static/css/slideout.css">
	<script type="text/javascript" src="static/js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="static/js/flat-ui.min.js"></script>
	<script type="text/javascript" src="static/js/flat-ui.js"></script>
	<script type="text/javascript" src="static/js/slideout.js"></script>
	<script type="text/javascript">
		function ping(btn){
			btn.disabled = true;
			$.ajax({
				type: 'GET',
				url: "ping?q=" + document.getElementById("input0").value,
				success: function(data){
					console.log("Success");
					addPushpin(JSON.parse(data));
					btn.disabled = false;
				},
				error: function(xhr, type) {
					console.log("Error");
					console.log(xhr);
					btn.disabled = false;
				}
			});
		}
	</script>
</head>
<body>
	<div class="container">
	<nav id="menu" class="menu">
      <a href="https://github.com/mango/slideout" target="_blank">
        <header class="menu-header">
          <span class="menu-header-title">My Panel</span>
        </header>
      </a>
      <section class="menu-section">
        <h3 class="menu-section-title">APIs</h3>
        <ul class="menu-section-list">
          <li><a href="https://github.com/mango/slideout#installation" target="_blank">Bing Local Business Search</a></li>
          <li><a href="https://github.com/mango/slideout#usage" target="_blank">...</a></li>
          <li><a href="https://github.com/mango/slideout#api" target="_blank">...</a></li>
          <li><a href="https://github.com/mango/slideout#npm-scripts" target="_blank">...</a></li>
        </ul>
      </section>
    </nav>
	<main id="panel" class="panel">
		<header class="panel-header">
	        <button class="btn-spray js-slideout-toggle"></button>
	        <h1 class="demo-headline"><div class="logo">API Playground</div></h1>
	      </header>

	      <section class="box">
	        <h3 class="demo-pannel-title">Bing Local Business Search</h3>
	        <div class="box-content">
	        	<h3>
					<div class="row demo-row">
						<input id="input0" class="col-6" type="text">
						<div class="col-2"></div>
						<button id="btnCheck" class="btn btn-primary btn-hg btn-block col-4" onclick="ping(this)">Check</button>
					</div>
				</h3>
				<h3 class="row demo-row">
					<div id='myMap' style='width: 50vw; height: 50vh;'></div>
					<div id='printoutPanel' style='width: 50vw; height: 20vh; border: solid 1px black; font-size: 20px; margin: 5px; padding: 10px'></div>
				</h3>
	        </div>
	      </section>
	</main>
	</div>
	<script>
		window.onload = function() {
	        var slideout = new Slideout({
	          'panel': document.getElementById('panel'),
	          'menu': document.getElementById('menu'),
	        });

	        document.querySelector('.js-slideout-toggle').addEventListener('click', function() {
	          slideout.toggle();
	        });

	        document.querySelector('.menu').addEventListener('click', function(eve) {
	          if (eve.target.nodeName === 'A') { slideout.close(); }
	        });
	    };
	</script>
	<script type="text/javascript">
		var map;
		function addPushpin(data){
			var infobox = new Microsoft.Maps.Infobox(new Microsoft.Maps.Location(data[0]["geo"]["latitude"], data[0]["geo"]["longitude"]), {title: data[0]["name"], description: '<b>Stock: </b>2', visible:false, autoAlignment: true});
			infobox.setMap(map);
			map.setView({
			    center: new Microsoft.Maps.Location(data[0]["geo"]["latitude"], data[0]["geo"]["longitude"])
			});
			Microsoft.Maps.loadModule('Microsoft.Maps.WellKnownText', function () {
				for(var i=0; i<Object.keys(data).length; i++){
					var cur = "POINT(" + data[i]["geo"]["longitude"].toString() + " " + data[i]["geo"]["latitude"].toString() + ")";
		            var pushpin = Microsoft.Maps.WellKnownText.read(cur);
		            pushpin.metadata = {
				        title: data[i]["name"],
				        stock: Math.floor((Math.random()*10)+1).toString(),
				        address: data[i]["address"],
				        description: '<b>Stock: </b>'
				    };
				    pushpin.metadata.description += pushpin.metadata.stock;
		            Microsoft.Maps.Events.addHandler(pushpin, 'click', function (args) {
		                infobox.setOptions({
							location: args.target.getLocation(),
							title: args.target.metadata.title,
            				description: args.target.metadata.description,
		                	visible: true
		                });
		                console.log(args.target.metadata.address);
		                document.getElementById("printoutPanel").innerHTML = args.target.metadata.title + "<br>Address: " + args.target.metadata.address["streetAddress"] + "<br>Postal: " + args.target.metadata.address["postalCode"];
		            });
		            map.entities.push(pushpin);
				}
			});
		}
		function loadMapScenario() {
	        map = new Microsoft.Maps.Map(document.getElementById('myMap'), {
	            center: new Microsoft.Maps.Location(47.6421, -122.13715),
	            zoom: 15 });
	        var sdsDataSourceUrl = 'https://spatial.virtualearth.net/REST/v1/data/f22876ec257b474b82fe2ffcb8393150/NavteqNA/NavteqPOIs';
	    }
	</script>
    <script type='text/javascript' src='https://cn.bing.com/api/maps/mapcontrol?key=AsUBIMfSFX4HntgkuHCFVeS3-5I4ltkPc1KNFalzR_aNU86S76k0g14goOIKx64T&callback=loadMapScenario' async defer></script>
</body>
</html>