<html>
<head>
	<title>Elina's Playground</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="cleartype" content="on">
    <meta name="MobileOptimized" content="320">
    <meta name="HandheldFriendly" content="True">
    <meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/flat-ui.min.css">
	<link rel="stylesheet" href="static/css/flat-ui.css">
	<link rel="stylesheet" href="static/css/demo.css">
	<link rel="stylesheet" href="static/css/slideout.css">
	<script type="text/javascript" src="static/js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="static/js/flat-ui.min.js"></script>
	<script type="text/javascript" src="static/js/flat-ui.js"></script>
	<script type="text/javascript" src="static/js/slideout.js"></script>
	<script type="text/javascript">
	function ping(){
		$.ajax({
			type: 'GET',
			url: "ping?q=" + document.getElementById("input0").value,
			success: function(data){
				console.log("Success");
				document.getElementById("result0").innerHTML = data;
			},
			error: function(xhr, type) {
				console.log("Error");
				console.log(xhr);
			}
		});
	}
</script>
</head>
<body>
	<div class="container">
	<nav id="menu" class="menu">
      <a href="https://github.com/mango/slideout" target="_blank">
        <header class="menu-header">
          <span class="menu-header-title">My Panel</span>
        </header>
      </a>
      <section class="menu-section">
        <h3 class="menu-section-title">APIs</h3>
        <ul class="menu-section-list">
          <li><a href="https://github.com/mango/slideout#installation" target="_blank">Bing Local Business Search</a></li>
          <li><a href="https://github.com/mango/slideout#usage" target="_blank">...</a></li>
          <li><a href="https://github.com/mango/slideout#api" target="_blank">...</a></li>
          <li><a href="https://github.com/mango/slideout#npm-scripts" target="_blank">...</a></li>
        </ul>
      </section>
    </nav>
	<main id="panel" class="panel">
		<header class="panel-header">
	        <button class="btn-spray js-slideout-toggle"></button>
	        <h1 class="demo-headline"><div class="logo">API Playground</div></h1>
	      </header>

	      <section class="box">
	        <h3 class="demo-pannel-title">Bing Local Business Search</h3>
	        <div class="box-content">
	        	<h3>
					<div class="row demo-row">
						<input id="input0" class="col-6" type="text">
						<div class="col-2"></div>
						<button id="btnCheck" class="btn btn-primary btn-hg btn-block col-4" onclick="ping()">Check</button>
					</div>
				</h3>
				<h3 class="row demo-row">
					<textarea id="result0" class="form-control" placeholder="Waiting responses..." cols="100" rows="10" style="font-size:20px"></textarea>
				</h3>
	        </div>
	      </section>
	</main>
	</div>
	<script>
		window.onload = function() {
	        var slideout = new Slideout({
	          'panel': document.getElementById('panel'),
	          'menu': document.getElementById('menu'),
	        });

	        document.querySelector('.js-slideout-toggle').addEventListener('click', function() {
	          slideout.toggle();
	        });

	        document.querySelector('.menu').addEventListener('click', function(eve) {
	          if (eve.target.nodeName === 'A') { slideout.close(); }
	        });
	    };
	</script>
</body>
</html>